{% extends 'base.html' %}

{% block body %}

 

<div class="col-lg-6 col-sm-6" style=" background-color:#E8E8E8"> 

  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}{{ field }}
        
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
    <br>
    <hr>
  </form>
  
</div>
<br>

<div class="col-lg-3 col-sm-6" > </div>

{% endblock %}