
{% extends "base.html" %}

{% block body %}

<div  class="col-lg-3 col-sm-6 "> 

<p style="width: align; height: align;"> </p>

</div>

<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8"> 



<h3>User Login Form</h3>
<form method="post" action="/user/do_login/">
    {% if error_message %}
          <font color="red">{{ error_message }}</font><br/>
    {% endif %}
    User Name: <input name="user_name" type="text" placeholder="user_name"><br/>
    Password: <input name="user_password" type="password" placeholder="user_password"><br/>
    <button type="submit">Login</button>
    <!-- this template tag will avoid 'CSRF verification failed. Request aborted' error. -->
    {% csrf_token %}
</form>


</div>

</div> <div class="col-lg-3 col-sm-6" > </div>

{% endblock %}
