<!DOCTYPE html>
<html lang="en">

<head>

      <!-- Basic Page Needs -->
      <meta charset="utf-8">
      <title> Pizza 3point14 </title>
      <meta name="description" content="Project 3 - CS50W">
      <meta name="author" content="Manish Vaidya">

      <!-- Favicon -->
      <link rel="icon" type="image/ico" href="../static/images/favicon.ico">

      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


      <!-- CSS Files -->
      <link rel="stylesheet" type="text/css" href="../static/mv_css_defines.css">


      <!-- Bootstrap core CSS -->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>


</head>

<body>
      <header style="text-align: center; background-color:#E8E8E8">
      <h1><a href="/"> Pizza 3point14 </a></h1>
      <a href="/"> <img class="mv_image" src="../static/images/delish-pizza.jpg" alt="Pizza 3point14"/> </a>
      </header>
   
      <div  class="col-lg-3 col-sm-6 "  style="text-align: center; background-color:#E8E8E8"> 
      <br>
      <p style="width: align; height: align;"> </p>
      <h2>The best pizza pie in the world </h2>
      <hr>
      
      </div>

      {% block body %}
      {% endblock %}
 

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    

</html>
