<!DOCTYPE html>
<html lang="en">

<head>

      <!-- Basic Page Needs -->
      <meta charset="utf-8">
      <title> Pizza 3Point14 </title>
      <meta name="description" content="Project 3 - CS50W">
      <meta name="author" content="Manish Vaidya">

      <!-- Favicon -->
      <link rel="icon" type="image/ico" href="../static/images/favicon.ico">

      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


      <!-- CSS Files -->
      <link rel="stylesheet" type="text/css" href="../static/mv_css_defines.css">


      <!-- Bootstrap core CSS -->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 
</head>

<body style="text-align: center">
      <header style="text-align: center;  ">
            
            {%  if request.user.is_authenticated    %}
            <h1><a href="{% url 'home' %}"> Pizza 3Point14 </a></h1>
            <a href="{% url 'home' %}"> <img class="mv_image" src="../static/images/delish-pizza.jpg" alt="Pizza 3Point14"/> </a>

            {% else %}

            <h1><a href="/"> Pizza 3point14 </a></h1>
            <a href="/"> <img class="mv_image" src="../static/images/delish-pizza.jpg" alt="Pizza 3point14"/> </a>
            {% endif %}

            <h2>The best pizza   <span style="font-style: italic; font-weight: bold; ">PI </span>  in the world </h2>
      </header>
    
<div  class="col-lg-3 col-sm-6 "  style="text-align: center;  "> 
      <p style="width: align; height: align;"> </p>
</div>



      {% block body %}
      {% endblock %}
 

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    

</html>
