{% extends "base.html" %}

{% block body %}
 
<h2> <p> Order here </p>
	 <p>  Menu  </p> 
</h2>

<div  class="col-lg-3 col-sm-6 "  style="text-align: center; background-color:#E8E8E8"> 
      <p style="width: align; height: align;"> </p>
</div>

<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8"> 

<table> 	
	 
		<tr>
			<th>Item</th>
			<th>Size</th>
			<th>Price</th>
		</tr>

	{% for food in food_list %}

	 
	<tr>
		<td id="item_name"> </td>
		<td>{{food.name}}</td>
		<td>{{food.sm_price}}</td>
	</tr>

	<script type="text/javascript">
		
		name = "{{food.name}}";
		document.querySelector('#item_name').innerHTML += (name+"<br>");

	</script>

	{% endfor %}

</table>
 
<hr>


<p>
 	<h4> <a href="{% url 'logout' %}"> Sayonara! logout</a> </h4>
</p>

 </div>

<div  class="col-lg-3 col-sm-6 "  style="text-align: center; background-color:#E8E8E8"> 
      <p style="width: align; height: align;"> </p>
</div>


{% endblock %}
