{% extends "base.html" %}

{% block body %}
 
<h2> <p> <a href="{% url 'online_access' %}"> Click to Order </a> </p>
	 <p>  Menu  </p> 
</h2>


<div  class="col-lg-3 col-sm-6"  > 
      <p style="width: align; height: align;"> </p>
</div>

<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8"> 

<table> 	
	 
	<tr>
		<th> Regular Pizza</th>
		<th> Small </th>
		<th> Large </th>
	</tr>

	{% for food in regular_pizza_list %}
	<tr>
		<td id="food_name.{{food.id}}"> </td>
		<td id="food_sm_price.{{food.id}}"></td>
		<td id="food_lg_price.{{food.id}}"> </td>
	</tr>

	<script type="text/javascript">
 		document.getElementById('food_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('food_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('food_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	</script>
	{% endfor %}

	<tr>
		<th> Sicilian Pizza</th>
		<th> Small </th>
		<th> Large </th>
	</tr>

	{% for food in sicilian_pizza_list %}
	<tr>
		<td id="sic_pizza_name.{{food.id}}"> </td>
		<td id="sic_pizza_sm_price.{{food.id}}"></td>
		<td id="sic_pizza_lg_price.{{food.id}}"> </td>
	</tr>

	<script type="text/javascript">
  		document.getElementById('sic_pizza_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('sic_pizza_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('sic_pizza_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	</script>
 
	{% endfor %}

	 
	<tr>
		<th> Toppings  </th>
		<th> </th>
		<th>   </th>
	</tr>
	
	
	{% for food in topping_list %}
	<tr>
		<td id="t_name.{{food.id}}"> </td>
		<td ></td>
		<td > </td>
	</tr>

	<script type="text/javascript">
  		document.getElementById('t_name.{{food.id}}').innerHTML = "{{food.name}}";
	</script>
 
	{% endfor %}



	<tr>
			<th> Sub </th>
			<th> Small </th>
			<th> Large </th>
	</tr>

	{% for food in subs_list %}
		<tr>
			<td id="sfood_name.{{food.id}}"> </td>
			<td id="sfood_sm_price.{{food.id}}"> </td>
			<td id="sfood_lg_price.{{food.id}}"></td>
		</tr>
		<script type="text/javascript">
	  		document.getElementById('sfood_name.{{food.id}}').innerHTML = "{{food.name}}";
		 	document.getElementById('sfood_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
		 	document.getElementById('sfood_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	 	</script>
	{% endfor %}


	<tr>
		<th> Pasta </th>
		<th> (One size)  </th>
		<th></th>
	</tr>

{% for food in pasta_list %}
	<tr>
		<td id="pfood_name.{{food.id}}"> </td>
		<td id="pfood_price.{{food.id}}"></td>
		<td>  </td>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('pfood_name.{{food.id}}').innerHTML = "{{food.name}}";
 	 	document.getElementById('pfood_price.{{food.id}}').innerHTML = "{{food.price}}";
 	</script>

{% endfor %}


	<tr>
		<th> Salads </th>
		<th> (One size)    </th>
		<th>   </th>
	</tr>

{% for food in salads_list %}
	<tr>
		<tr>
		<td id="safood_name.{{food.id}}"> </td>
		
		<td id="safood_price.{{food.id}}"></td>
		<td> </td>
	</tr>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('safood_name.{{food.id}}').innerHTML = "{{food.name}}";
 	 	document.getElementById('safood_price.{{food.id}}').innerHTML = "{{food.price}}";
 	</script>

{% endfor %}


<tr>
		<th> Dinner Platters </th>
		<th> Small    </th>
		<th>  Large </th>
	</tr>

{% for food in dinner_list %}
	<tr>
		<tr>
		<td id="dfood_name.{{food.id}}"> </td>
		<td id="dfood_sm_price.{{food.id}}"> </td>
		<td id="dfood_lg_price.{{food.id}}"></td>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('dfood_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('dfood_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('dfood_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
 	</script>

{% endfor %}

</table>
 

<h2> <p> <a href="{% url 'online_access' %}"> Click to Order </a> </p> </h2>

{% endblock %}
