{% extends "base.html" %}

{% block body %}

<script type="text/javascript">total=0</script>
 
<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8">
<h2>Review order   </h2>
 
<hr>
	  

<table>
        <tr>
            <th>User</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        {% for cart in cart_list %}
         <tr>
            <td>{{ cart.user  }}</td>
            <td>{{ cart.item }}</td>
            <td>{{ cart.price }}</td>
        </tr>
        <script type="text/javascript"> total += parseFloat("{{cart.price}}")  </script>
        {%endfor %}

</table>
 
Total price: $<h2 id="tprice"></h2>

<script type="text/javascript"> document.getElementById('tprice').innerHTML = total; </script>


<p>
 	<h4> <a href="{% url 'logout' %}"> Sayonara! logout</a> </h4>
</p>

 </div>

<div  class="col-lg-3 col-sm-6 "  style="text-align: center; background-color:#E8E8E8"> 
      <p style="width: align; height: align;"> </p>
</div>


{% endblock %}
