{% extends "base.html" %}

{% block body %}

<script type="text/javascript">total=0</script>
 
<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8">
<h2>Review order   </h2>
 
<hr>
	  

<table>
        <tr>
            <th>User</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        {% for cart in cart_list %}
         <tr>
            <td>{{ cart.user  }}</td>
            <td>{{ cart.item }}</td>
            <td>{{ cart.price }}</td>
        </tr>
        {%endfor %}

</table>
 
<h2>Total price: $<span id="tprice"></span> </h2>

<script type="text/javascript"> document.getElementById('tprice').innerHTML = "{{cart_total}}" ; </script>


<button onclick="location.href='{% url 'final_order' %}'"> Place final order</button>
 
{% endblock %}
