{% extends "base.html" %}

{% block body %}
  
<script type="text/javascript">

/***********************************************
* Limit number of checked checkboxes script- by JavaScript Kit (www.javascriptkit.com)
* This notice must stay intact for usage
* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and 100s more
***********************************************/
var food_order=[], prev_food=""

function checkboxlimit(checkgroup, limit){
	var checkgroup=checkgroup
	var limit=limit

	for (var i=0; i<checkgroup.length; i++){
		checkgroup[i].onclick=function(){
		var checkedcount=0
		for (var i=0; i<checkgroup.length; i++)
			checkedcount+=(checkgroup[i].checked)? 1 : 0
		if (checkedcount>limit){
			alert("You can only select a maximum of "+limit+" toppings")
			food_order.pop()
			this.checked=false
			}
			else {
 				food_order.push({"food":this.value,
 				"price":0
				})

 			}

			 
		}
	}

 }
 

function foodtype(optfood) {

	var chars = optfood.split(',');
	
	if ( (chars[0]==prev_food) || (chars[0].includes("Pizza")) ) {
		food_order.pop()
	}

 	food_order.push({"food":chars[0]+" "+chars[1],
 	"price":chars[2]
	})
 	prev_food = chars[0]
	checkboxlimit(document.forms.world.opttoppings, chars[3])
 
 
}
 

</script>
 

<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8">
<h2>Place order below </h2>

<table> 	
	<tr>
		<th> Regular Pizza</th>
		<th> Small </th>
		<th> Large </th>

	</tr>

	{% for food in regular_pizza_list %}
	<tr>
	 
	  	<td id="reg_pizza_name.{{food.id}}">

		<td>
             <div class="radio" >
                 <label><input type="radio" name="optpizza" onclick="foodtype( this.value )" value="{{food}}, {{food.sm_price}}, {{food.extras}}"> <p id="reg_pizza_sm_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td>
             <div class="radio" >
                 <label><input type="radio" name="optpizza" onclick="foodtype(this.value)" value="{{food}}, {{food.lg_price}}, {{food.extras}}" > <p id="reg_pizza_lg_price.{{food.id}}"></p> </label>
             </div>
        </td>
 	</tr>

	<script type="text/javascript">
 		document.getElementById('reg_pizza_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('reg_pizza_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('reg_pizza_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	</script>
	{% endfor %}

	<tr>
		<th> Sicilian Pizza</th>
		<th> Small </th>
		<th> Large </th>
	</tr>

	{% for food in sicilian_pizza_list %}
	<tr>
		<td id="sic_pizza_name.{{food.id}}"> </td>
		<td>
             <div class="radio">
                 <label><input type="radio" name="optpizza" onclick="foodtype(this.value)" value="{{food}}, {{food.sm_price}}, {{food.extras}}"> <p id="sic_pizza_sm_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td>
             <div class="radio" >
                 <label><input type="radio" name="optpizza" onclick="foodtype(this.value)" value="{{food}}, {{food.lg_price}}, {{food.extras}}"> <p id="sic_pizza_lg_price.{{food.id}}"></p> </label>
             </div>
        </td>
	</tr>


	<script type="text/javascript">
  		document.getElementById('sic_pizza_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('sic_pizza_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('sic_pizza_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	
	
 	</script>

	{% endfor %}
 
 	<tr>
		<th> Toppings </th>
		<th>  </th>
		<th>   </th>
	</tr>


	<form id="world" name="world">
	{% for food in topping_list %}
	<tr>
		<td > </td>
		<td>
             <div class="checkbox" >
                 <label><input type="checkbox" name="opttoppings" value="{{food}}"> <p id="t_name.{{food.id}}"></p> </label>
             </div>
        </td>
		<td > </td>
	</tr>

	<script>
    			document.getElementById('t_name.{{food.id}}').innerHTML = "{{food.name}}";
	</script>
	{% endfor %}
	
	</form>


<tr>
		<th> Sub </th>
		<th> Small </th>
		<th> Large </th>
	</tr>

{% for food in subs_list %}
	<tr>
		<td id="sfood_name.{{food.id}}"> </td>
		<td>
             <div class="radio" id="foodtype">
                 <label><input type="radio" name="optsub" onclick="foodtype(this.value)" value="{{food}}, {{food.sm_price}}, {{food.extras}}"> <p id="sfood_sm_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td>
             <div class="radio" id="foodtype" >
                 <label><input type="radio" name="optsub" onclick="foodtype(this.value)" value="{{food}}, {{food.lg_price}}, {{food.extras}}"> <p id="sfood_lg_price.{{food.id}}"></p> </label>
             </div>
        </td>
	</tr>


	<script type="text/javascript">
  		document.getElementById('sfood_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('sfood_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('sfood_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
	
	
 	</script>

{% endfor %}

<tr>
		<th> Pasta </th>
		<th> (One size)  </th>
		<th></th>
	</tr>

{% for food in pasta_list %}
	<tr>
		<td id="pfood_name.{{food.id}}"> </td>
 		<td>
             <div class="radio" id="foodtype">
                 <label><input type="radio" name="optpasta" onclick="foodtype(this.value)" value="{{food}}, {{food.price}}"> <p id="pfood_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td>  </td>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('pfood_name.{{food.id}}').innerHTML = "{{food.name}}";
 	 	document.getElementById('pfood_price.{{food.id}}').innerHTML = "{{food.price}}";
 	</script>

{% endfor %}

<tr>
		<th> Salads </th>
		<th> (One size)    </th>
		<th>   </th>
	</tr>

{% for food in salads_list %}
	<tr>
		<tr>
		<td id="safood_name.{{food.id}}"> </td>
		<td>
             <div class="radio" id="foodtype">
                 <label><input type="radio" name="optsalad" onclick="foodtype(this.value)" value="{{food}}, {{food.price}}"> <p id="safood_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td> </td>
	</tr>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('safood_name.{{food.id}}').innerHTML = "{{food.name}}";
 	 	document.getElementById('safood_price.{{food.id}}').innerHTML = "{{food.price}}";
 	</script>

{% endfor %}
 
<tr>
		<th> Dinner Platters </th>
		<th> Small    </th>
		<th>  Large </th>
	</tr>

{% for food in dinner_list %}
	<tr>
		<tr>
		<td id="dfood_name.{{food.id}}"> </td>
		 
		<td>
             <div class="radio" id="dintype">
                 <label><input type="radio" name="optsub" onclick="foodtype(this.value)" value="{{food}}, {{food.sm_price}}"> <p id="dfood_sm_price.{{food.id}}"></p> </label>
             </div>
        </td>
		<td>
             <div class="radio" id="dintype" >
                 <label><input type="radio" name="optsub" onclick="foodtype(this.value)" value="{{food}}, {{food.lg_price}}"> <p id="dfood_lg_price.{{food.id}}"></p> </label>
             </div>
        </td>
	</tr>

 	<script type="text/javascript">
  		document.getElementById('dfood_name.{{food.id}}').innerHTML = "{{food.name}}";
	 	document.getElementById('dfood_sm_price.{{food.id}}').innerHTML = "{{food.sm_price}}";
	 	document.getElementById('dfood_lg_price.{{food.id}}').innerHTML = "{{food.lg_price}}";
 	</script>

{% endfor %}

</table>

 
<button onclick='send_value()'> Place order (Review on next page)</button>


<script>

 function send_value(){

 			
             $.ajax({
             url: 'add_to_cart',
             method : 'POST',
             data: {food_order},
             beforeSend: function() {
              // things to do before submit
             },
             success: function(response) {
             	        window.location = "{% url 'view_order' %}"; 

                }
              });
}
</script>

 
<hr>
	   


<p>
 	<h4> <a href="{% url 'logout' %}"> Sayonara! logout</a> </h4>
</p>

 </div>

<div  class="col-lg-3 col-sm-6 "  style="text-align: center;"> 
      <p style="width: align; height: align;"> </p>
</div>


{% endblock %}
