{% extends "base.html" %}

{% block body %}

<script type="text/javascript">total=0, sms_success='' </script>
 
<div class="col-lg-6 col-sm-6" style="text-align: center; background-color:#E8E8E8">
{% if sms_success  %}


<h3>Thanks! We will message you when the pizza is ready - Happy tummy from Pizza 3Point14! </h3>


{% else %}

<h2>Thanks!   </h2>
 
<hr>
	  

 Final order

 <list>
 	<li id="time_placed"> </li>
 	{% for food in final_food_list %}
		<span id="order.item.{{food.id}}"></span> || <span id="order.price.{{food.id}}"></span><br>
		<script> 
			document.getElementById('order.item.{{food.id}}').innerHTML = "{{food.item}}" ; 
		 	document.getElementById('order.price.{{food.id}}').innerHTML = "{{food.price}}" ; 
		</script>

	{%endfor%} 
	

</list> 



<h3>Your order will be ready in about 25 minutes </h3>

<h3> Exclusive Pizza 3Point14 feature </h3>
<h3> Enter cell number to get a text message when the pizza is ready!  

<form action="{% url 'send_sms' %}" method="post">
    <label for="phone_number">Enter number: </label>
    <input id="phone_number" type="text" name="phone_number" value="Phone#">
    <input type="submit" value="Let me know!">
</form>


</h3>


<script type="text/javascript"> 

	document.getElementById('time_placed').innerHTML = "{{final_order.time_placed}}" ; 
  

</script>

 
{% endif %}
 


{% endblock %}
